<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<!-- header  -->
	<div th:fragment="header" class="row border-bottom border-primary">
		<div class="col-4">
			<p><img src="https://via.placeholder.com/200x100"></p>
		</div>
		<div class="col-8">
			<div class="row">
				<div class="col">
					<ul class="nav justify-content-end">
						<!-- 로그아웃 상태 -->
						<th:block th:unless="${session.isLogin}">
							<li class="nav-item">
								<a class="nav-link" th:href="@{loginForm}">로그인</a>
							</li>
						</th:block>
						<!-- 로그인 상태 -->
						<th:block th:if="${session.isLogin}">
							<li class="nav-item">
								<a class="nav-link" th:href="@{memberLogout}">로그아웃</a>
							</li>
						</th:block>
						<!-- 로그아웃 상태 -->
						<th:block th:unless="${session.isLogin}">
							<li class="nav-item">
								<a class="nav-link" th:href="@{#}" th:attrappend="data-bs-toggle='modal', data-bs-target='#loginModal'">로그인-모달</a>
							</li>
						</th:block>
						<!-- 로그인 상태 -->
						<th:block th:if="${session.isLogin}">
							<li class="nav-item">
								<a class="nav-link" th:href="@{logout}">로그아웃</a>
							</li>
						</th:block>
						<li class="nav-item">
							<a class="nav-link" href="#">게시글 리스트</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">회원가입</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">주문/배송조회</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">고객센터</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col text-end pe-5 text-primary">
					<th:block th:if="${session.isLogin}">
						안녕하세요 [[${session.member != null} ? ${session.member.id}]]님
					</th:block>
				</div>
			</div>
		</div>
	</div>

</html>